/* header */
header {
    height: 80vh;
    background-image: url('/images/header_home.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
}

/* caregories */
.categories div img {

    transition: all ease-out 3s;
}

.categories div:hover img {
    transform: scale(1.1);
}

/* icons  overlay*/
.parent {
    overflow: hidden;
    position: relative;
}

.parent img {
    display: block;
    width: 100%;
    transition: all 4s ease-out;
}

.overlay {
    opacity: 0;
    position: absolute;
    top: 100%;
    transition: all 1s ease;
}

.parent:hover img {
    transform: scale(1.1);
}

.parent:hover .overlay {
    opacity: 1;
    top: 80%;
} 

@media (min-width:768px) {

    .categories img,
    .sales img,
    .bestselling img {
        height: 350px !important;
    }


}