.input-special{
    box-shadow: none !important;
    outline-color: #F6F0ED !important;
    border-color: #F6F0ED !important;
    width: 200px !important;
    opacity: 1;
}

.btn-special{
    border: none !important;
}

.tooltip-content {
  padding: 5px 10px;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 5px;
  font-size: 0.85rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  z-index: 9999;
  animation: slideDown 0.25s ease-out; 
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
