
@import url('./variables.css');

body{
    background-color: var(--primary-color);
    font-family: var(--main-font-family);
}
 
.profile-pic{
    width: 150px;
    height: 150px;
    background-color: #f0f0f0 ;
}

.profile-pic > i{
    font-size: 100px;
}
 
.bi-camera{
    font-size: 24px;
}

.profile-pic .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0; 
  transition: opacity 0.3s ease-in-out;
}

.profile-pic:hover .overlay {
  opacity: 1; 
  /* apears when hover */
}

.card-text{
    color: var(--dark-black-color);
}

.accordion-button:not(.collapsed) {
  background-color: #f5e6cc;      
  color: #5a3e1b;                 
  box-shadow: none;
  border: none; 
}

.accordion-button:focus {
  border-color: transparent !important;
  box-shadow: none !important;
}

.input-group-text {
  background-color: #f5e6cc;      
  color: #5a3e1b;                 
}

.form-control:focus {
    border-color: var(--secondary-color); 
    box-shadow: 0 0 0 0.2rem rgb(184, 142, 47,0.25);
}

.actions .btn{
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 0.5rem 1.5rem;
  /* border-radius: 0.75rem; */
  font-weight: 500;
}

.actions .btn:hover{
   background-color: #f5e6cc;      
  color: rgb(90, 62, 27); 
}

.form-check-input:checked {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);    
}

.form-check-input:focus {
  box-shadow: 0 0 5px #5a3e1b;
}

.form-check-label{
      color: var(--dark-black-color); 
      max-width: 600px;  
}

.table .btn-outline-primary {
  color: var(--secondary-color); 
  border-color: var(--secondary-color); 
}

.table .btn-outline-primary:hover {
  background-color: var(--secondary-color); 
  color: #fff; 
}

.wishlist-stats{
    background-color: #f8f9fa; 
    border-radius: 6px;
}

.wishlist-item{
    border: 1px solid #e0e0e0; 
    border-radius: 8px; 
    background-color: #fafafa;
}

.price{
    color: var(--secondary-color); 
    font-weight: 600;
}

.add-btn{
    background-color: var(--secondary-color); 
    color: var(--white-color);
}

.remove-btn{
    border: 1px solid #dc3545; 
    color: #dc3545;
}

.add-btn:hover{
    background-color: var(--secondary-color); 
    color: var(--white-color);
}

.remove-btn:hover{
    border: 1px solid #dc3545; 
    color: #dc3545;
}

/* styling when i click on the button?? */

.actions-footer{
    border-top: 1px solid #e0e0e0;
}

.clear-btn{
     border: 1px solid #6c757d; 
     color: #6c757d;
}

.add-all-btn{
     background-color: var(--secondary-color); 
     color: var(--white-color);
}

.clear-btn:hover{
     border: 1px solid #6c757d; 
     color: #6c757d;
}

.add-all-btn:hover{
     background-color: var(--secondary-color); 
     color: var(--white-color);
}

.img-fluid{
    border-radius: 6px;
}

.settings-title{
    color: var(--secondary-color);
}

.settings-card{
    background-color: #f8f9fa; 
    border-radius: 6px;
}

.form-select:focus{
    border-color: #dee2e6 !important;
    box-shadow: 0 0 10px #5a3e1b;
}

.option:focus{
   background-color: #f5e6cc;  
}

/* .form-select:focus{
   background-color: #f5e6cc !important;  
} */

.change-btn{
     background-color: var(--secondary-color); 
     color: var(--white-color);
}

.change-btn:hover{
     background-color: var(--secondary-color); 
     color: var(--white-color);
}